//----------first-page.html----------
.wrapper {
  text-align: center;
}

#pricesPage {
	display: inline-block;
  width: 30%;
  height: 100px;
}

#checklistPage {
	display: inline-block;
  width: 30%;
  height: 100px;
}



//----------prices-page.html----------

.searchBar {
	width: 20%;
}
