<link rel="stylesheet" type="text/css" href="styles/checklist.css">

<nav id="cssmenu">
	<ul>
		<li><a href="/#/">Home</a></li>
		<li><a href="#/prices">Car Part Prices</a></li>
    <li class="active"><a href="/#/checklist">View Checklist</a></li>
    <div class="ph-container">
  
    <div class="ph-float">
      <a id="twitterOut" class='ph-button ph-btn-green'>Log Out</a>
    </div>    
		</div>    

		<div class="ph-clear"></div>
	</ul>
</nav> 



<div class="outerDiv">

	<div class="leftSide col-md-4">

		<form id="formToDo">
		  <div class="form-group">
		    <label for="nameTodo" class="titleAboveForm">To Do</label>
		    <input type="text" class="form-control" id="nameTodo" placeholder="Maintenance Issue" ng-model="newToDo.name">
		  </div>

		  <div class="form-group">
		    <label for="dateToDo" class="titleAboveForm">Date</label>
		    <input type="text" class="form-control" id="dateToDo" placeholder="ex: mm/dd/yy" ng-model="newToDo.date">
		  </div>


		  <div class="form-group">
		    <label for="odometerToDo" class="titleAboveForm">Odometer</label>
		    <input type="text" class="form-control" id="odometerToDo" placeholder="ex: 83900" ng-model="newToDo.odometer">
		  </div>

		  <h5 class="titleAboveForm">Notes</h5>
		  <textarea class="form-control" rows="2"  ng-model="newToDo.notes" placeholder="Remember to..."></textarea>

			  <button class="btn btn-default submitButton" ng-click="addToDo()">Submit</button>

		</form>
	</div>

	<div class="rightSide col-md-8" id="one">

		<h4 class="wordingInTodos">Your vehicle serivce checklist.</h4>

			<div ng-repeat="todo in todos" class="todosColorNposition">

			  <ul class="removeDots">
			    <li ng-click="settingChecked(todo)" ng-hide="todo.checked" class="grow">
			      <button type="button" id="checkButton" class="btn btn-default btn-md">
						  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
							{{todo.name}} | {{todo.date}} | {{todo.odometer}} | {{todo.notes}}
			    </li>
			  </ul>

			</div>
	</div>
</div>


<div class="historyList">
	<h4>History</h4>
			<div ng-repeat="todo in todos" id="startingState" ng-click="settingChecked(todo)" ng-show="todo.checked" class="menu">
		  {{todo.name}} | {{todo.date}} | {{todo.odometer}} | {{todo.notes}}
		  <button type="button" id="undoButton" class="btn btn-default btn-md">
			<span class="glyphicon" aria-hidden="true"></span>Undo</button>
		  </div>
</div>


