<nav id="cssmenu">
	<input class="typeHere" type="text" ng-model="carSearchText" placeholder="Make/Model/Year" />
		<h4 class="wordingInNav">Select a vechile to see part prices or search.</h4>
			<ul>
				<li><a href="/#/">Home</a></li>
				<li class="active"><a href="#">Car Part Prices</a></li>
		    <li><a href="/#/checklist">View Checklist</a></li>
			</ul>
</nav>


		<!-- codepens example -->
		
		<div ng-repeat="vehicle in vehicles | filter:carSearchText">
		  <ul class="hopethisworks">
		  	<a href="#/info/{{ vehicle.$id }}">
			    <li>
			      <img class="carImg" ng-src="{{vehicle.image}}" height="35%" width= "35%">
			      <h5>{{vehicle.make}}</h5>
			      <h5>{{vehicle.model}}</h5>
			      <h5>{{vehicle.year}}</h5>
			      <!-- <p> </p> -->
			    </li>
		   	</a>
		   </ul>
		</div>

