@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  background: #303030; }

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1; }

#cssmenu ul {
  background: #ffffff; }

#cssmenu > ul > li {
  float: left; }

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center; }

#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none; }

#cssmenu.align-right > ul > li {
  float: right; }

#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px; }

#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px; }

#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff; }

#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom; }

#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af; }

.outerDiv {
  margin: 30px 30px; }

.submitButton {
  margin-top: 10px; }

.titleAboveForm {
  color: white; }

.wordingInTodos {
  color: white;
  text-align: center; }

.todosColorNposition {
  color: white; }

.removeDots {
  list-style-type: none; }

.historyList {
  color: white;
  margin-top: 430px;
  margin-left: 30px; }

#startingState {
  color: white; }

.ph-button {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  border-style: solid;
  border-width: 0px 0px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  font-weight: 700;
  padding: 10px 30px 10px;
  font-size: 16px; }

/*Green
==========================*/
.ph-btn-green {
  border-color: #47c9af;
  background-color: #47c9af; }

.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
  background-color: #47c9af;
  border-color: #3AC162; }

/*# sourceMappingURL=checklist.css.map */
